/* Reset de estilos básicos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.intro h2, .characters h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

.ul_footer {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul_footer li {
    display: inline-block;
    margin: 0 10px;
}

.ul_footer a {
    color: #fff;
    text-decoration: none;
}